<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <% include ./head %>
</head>

<body>
  <% include ./navbars/navbarindex %>

    <div class="container">
      <div class="jumbotron">
        <h1>Social Network Example</h1>
        <p>Made by Nenadic Ivan for 30Hills.</p>
        <p>Show you list of users, their friends, friends of their friends, and suggested friends!</p>
      </div>

    </div>

</body>

</html>